$darkmode: True;
$transparent: True;

$primary_paletteKeyColor: $mauve;

$onBackground: $text;
$surface: $surface1;
$surfaceDim: $base;
$surfaceBright: $surface2;
$surfaceContainerLowest: $crust;
$surfaceContainerLow: $mantle;
$surfaceContainer: $overlay0;
$surfaceContainerHigh: $overlay1;
$surfaceContainerHighest: $overlay2;
$onSurface: $text;
$surfaceVariant: $overlay2;
$onSurfaceVariant: $text;
$outline: $subtext0;
$outlineVariant: $subtext1;
$shadow: #000000;
$scrim: #000000;
$primary: $primary_paletteKeyColor;
$onPrimary: $base;
$secondary: $lavender;
$onSecondary: $base;
$secondaryContainer: $surface0;
$onSecondaryContainer: $text;
$error: $red;
$errorContainer: $red;
